pip==25.1.1
streamlit
langchain-chroma
langchain-openai
dotenv
tiktoken
openai
protobuf
chromadb
pinecone
langchain
langchain-community
langchain-text-splitters
opentelemetry-exporter-otlp
PyPDF2
pypdf
python-docx
ipython
pandas
pydantic
beautifulsoup4
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
google-genai
